#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.country{
  border: 2px solid black;
  border-radius: 20px;
  padding:  4px;
  margin: 4px;
  width: 400px;
  text-align: center;
}
.colum{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 3px;
}
.center{
  text-align: center;
}
.country-visited{
  background-color: rgb(174, 212, 246);
}